.circle {
  height: 12px;
  width: 12px;
  background-color: #CCC;
  border-radius: 50%;
  display: inline-block;
}

.circle-error {
  background-color: #ff4f4f;
}

.circle-in-progress {
  background-color: #a7b4c1;
}

.circle-ready {
  background-color: #8bc53f;
}
