.table-stats thead {
  background-color: #e4e8ec;
}

.table-stats tfoot {
  border-top: 1px solid #e4e8ec;
}

.table-stats tbody td, .table-stats thead th {
  border: none;
}

.table-stats thead th {
  font-weight: normal;
}
