.card.zc-card {
  background-color: #e4e8ec;
  border-color: #e4e8ec;
  margin-bottom: 30px;
}

.card.zc-card .card-body p {
  margin-bottom: 0;
  line-height: 1.25;
}

.card.zc-card button {
  margin-top: 8px;
}

.card.zc-card button.first {
  margin-top: 0px;
}
