.student-comments img {
  width: 75px;
  height: 75px;
}

.student-comments .name {
  color: #424a52;
}

.bubble {
  color: #FFF;
   position: relative;
   min-height: 30px;
   padding: 0px;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
}

.bubble.bubble-left {
  background: #8bc53f;
}

.bubble.bubble-right {
  background: #516b85;
}

.bubble-right:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 5px 0 5px 10px;
    border-color: transparent #516b85;
    display: block;
    width: 0;
    z-index: 1;
    right: -10px;
    top: 10px;
}

.bubble-left:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 5px 10px 5px 0;
    border-color: transparent #8bc53f;
    display: block;
    width: 0;
    z-index: 1;
    left: -10px;
    top: 10px;
}
