.bg-zerocopy {
  background-color: #8CC449 !important;
}

/* Navbar */
.navbar-light .navbar-nav .nav-item.show {
  background-color: #ADD47B;
  border-radius: 4px;
}

.navbar-light .navbar-nav .nav-item.accent {
  background-color: #ffffff;
  border-radius: 4px;
}

.navbar-light .navbar-toggler, .navbar-light .navbar-toggler:focus {
  color: #FFF;
  border-color: transparent;
  /*outline:0; To remove shadow in focused state */
}

.navbar-light .navbar-nav .nav-item.accent .nav-link {
  color: #8bc53f;
}

.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .nav-link:link, .navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:visited, .navbar-light .navbar-nav .nav-link:active {
  color: #FFF;
}

@media (max-width: 767.98px) {

  .navbar-light .navbar-nav .nav-item {
    padding-left: .3rem;
    padding-right: .3rem;
  }

}
