.notifications {
  top: 8px !important;
  right: 0px;
  left: unset;
  width: 460px;
  box-shadow: 0px 5px 7px -1px #c1c1c1;
  padding-bottom: 0px;
  padding: 0px;
}

.notifications:before {
  content: "";
  position: absolute;
  top: -20px;
  right: 12px;
  border: 10px solid #343A40;
  border-color: transparent transparent #FFF transparent;
}

.notifications-header {
  padding:5px 15px;
  border-radius: 3px 3px 0px 0px;
}

.notification-item {
white-space: initial;
}

.notification-item .notification-text {

}
