html {
  font-size: 16px;
}

body {
  background-color: #e4e8ec;
}

body, h1, h2, h3, h4, h5, h6 {
  color: #3b4e61;
}

button:hover, a:hover {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

.content {
  background-color: #FFFFFF;
}

.container-fluid.main-content {
  padding: 0;
}

.zerocopy-link, .zerocopy-link:link, .zerocopy-link:hover, .zerocopy-link:active, .zerocopy-link:visited {
  color: #3b4e61;
  font-weight: 600;
  text-decoration: none;
}

.zerocopy-link.active {
  background-color: #516b85;
  color: #FFFFFF;
  border-radius: 4px;
  padding: 4px;
}

/* Negative margin */
.mr-4-neg {
  margin-right: -1rem !important;
}

/* Sizing */
.w-85 {
  width: 85%;
}

/* Notifications */

.notifications-tc {
  position: fixed;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 66%;
  padding: 0px 10px 10px;
  z-index: 9998;
  box-sizing: border-box;
  height: auto;
}

.notification {
  border: none;
  border-radius: .25rem;
  position: relative;
  width: 100%;
  cursor: pointer;
  margin-top: 10px;
  padding: 24px;
  display: flex;
  box-sizing: border-box;
  opacity: 1;
  transition: all 0.3s ease-in-out 0s;
  transform: translate3d(0px, 0px, 0px);
  will-change: transform, opacity;
}

.notification-hidden {
  opacity: 0;
}

.notification-success {
  color: #3b4e61;
  border-color: transparent;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.3);
}

.notification-error {
  color: #ff4f4f;
  background-color: #ffdfdf;
}

.notification-dismiss {
  display: none;
}

.notification-message {

}

.notification-message::after {
  display: inline-block;
  width: 18px;
  height: 18px;
  content:"";
  vertical-align: -18%;
  margin-left: 12px;
  background-size: 18px 18px;
  background-image: url("./images/close.svg");
}

.notification-message::before {
  display: inline-block;
  width: 24px;
  height: 24px;
  content:"";
  vertical-align: -27%;
  margin-right: 12px;
}

.notification-error .notification-message::before {
  background-size: 24px 24px;
  background-image: url("./images/warning.svg");
}

.notification-success .notification-message::before {
  background-size: 24px 24px;
  background-image: url("./images/confirmation.svg");
}

@media (max-width: 991.98px) {

  .notifications-tc {
    width: 95%;
    max-width: none;
  }

}

/* Override bootstrap styles */

/* Buttons */
.btn-primary {
  background-color: #8bc53f;
  border-color: #8bc53f;
}

.btn-primary:hover {
  background-color: #67912f;
  border-color: #67912f;
}

.btn-primary:disabled {
  background-color: #c5e29f;
  border-color: #c5e29f;
}

.btn-secondary {
  background-color: #516b85;
  border-color: #516b85;
}

.btn-secondary:hover {
  background-color: #3b4e61;
  border-color: #3b4e61;
}

.btn-secondary:disabled {
  background-color: #a7b4c1;
  border-color: #a7b4c1;
}

.btn-accent {
  background-color: #0080ff;
  border-color: #0080ff;
  color: #FFF;
}

.btn-accent:hover {
  background-color: #0066cc;
  border-color: #0066cc;
}

.btn-accent:disabled {
  background-color: #b3d9ff;
  border-color: #b3d9ff;
}

/* Table */

.table td, .table th {
  vertical-align: middle;
  border-color: #e4e8ec;
}

.alert-danger {
  color: #ff4f4f;
  border-color: transparent;
  background-color: #ffdfdf;
}

.text-danger {
  color: #ff4f4f !important;
}

.form-control.is-invalid, .form-control:invalid {
  border-color: #ff4f4f;
}
