.noDocuments .title {
  background-color: #516b85;
  color: #FFF;
}

.noDocuments .title h1 {
  color: #FFF;
}

.noDocuments .subtitle {
  background-color: #edf6e2;
}

.noDocuments .subtitle .steps {
  background-color: #FFF;
}

.steps .step {
  min-height: 60px;
  vertical-align: text-bottom;
}

.steps .step .icon {
  line-height: normal;
}

.steps .fas {
  color: #8CC449;
  font-size: 2.5rem;
}

.steps .fas.fa-inverse {
  color: #FFF;
  font-size: 1.25rem;
}

i.arrow {
  border: solid #edf6e2;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 17px;
}

.arrow.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.underline {
  border-bottom: 2px solid #8CC449;
}
