.printForFree {
	list-style: none;
  counter-reset: printForFree-list;
}

.printForFree dt:before, .printForFree li:before {
	content: counter(printForFree-list)'.';
	counter-increment: printForFree-list;

  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #edf6e2;
  position: absolute;
  left: 25px;
  text-align: center;
  line-height: 25px;
  font-weight: bold;
}
